.custom-social-buttons {
    padding-top: 25px;
    margin-bottom: 85px;
}

.custom-social-button {
    height: 40px;
    width: 33%;
    text-align: center;
    float: left;
}

.custom-social-button.googleplus {
    float: right;
}

.custom-social-button a {
    vertical-align: middle;
    color: #006680;
    font-weight: bold;
}

.custom-social-button a i {
    font-size: 25pt;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px;
}

.custom-social-button a:hover {
    vertical-align: middle;
    color: #ccc;
    font-weight: bold;
}
